@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Lato:wght@300;400;700&family=Raleway:wght@400;600&display=swap');

body{
  font-family: 'Lato', sans-serif;
  background-color: #C1D1C1;
  color: #333333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

input, textarea {
  font-family: 'Lato', sans-serif;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #E8E8E8;
  background-color: #ffffff;
  color: #333333;
  width: 100%;
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
}

input:focus, textarea:focus {
  border: 2px solid #B58A3A;
  outline: none;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}