@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  font-family: 'Courier New', Courier, monospace;
  -webkit-text-size-adjust: 100%;
  background-color: #C1D1C1;
  color: #333333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

input, textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #E8E8E8;
  background-color: #ffffff;
  color: #333333;
  width: 100%;
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
}

input:focus, textarea:focus {
  border: 2px solid #B58A3A;
  outline: none;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.cli-text {
  letter-spacing: 0.05em;
}

.console-container {
  position: relative;
  overflow: hidden;
}


span{
  white-space: nowrap;
}